body {
    font-family: Verdana;
    font-size: 15px;
    width: 100%;
    margin: 0px auto;
    min-height: 300px;
}

#header {
    width: 100%;
    height: 70px;
    background: #3b5998;
}

#main {
    width: 100%;
    height: 800px;
    background: #e6e9f2;
}

#footer {
    width: 100%;
    height: 90px;
    background: white;
}

#header #header-content {
    width: 1100px;
    height: 70px;
    margin: 0px auto;
    background: #3b5998;
}

#main #main-content {
    width: 1100px;
    height: 800px;
    margin: 0px auto;
    background: #e6e9f2;
}

#footer #footer-content {
    width: 1100px;
    height: 90px;
    clear: left;
    text-align: center;
    margin: 0px auto;
    line-height: 30px;
}

#header-content #left {
    width: 600px;
    float: left;
    line-height: 70px;
}

    #header-content #left a {
        text-decoration: none;
        font-size: 35px;
        color: white;
    }

#header-content #right {
    width: 500px;
    height: 70px;
    float: left;
    padding: 0px;
    background: #3b5998;
}

    #header-content #right table tr td {
        font-size: 13px;
        padding-right: 20px;
        color: white;
    }

        #header-content #right table tr td a {
            font-size: 12px;
            color: antiquewhite;
            text-decoration: none;
        }

            #header-content #right table tr td a:hover {
                text-decoration: underline;
            }

        #header-content #right table tr td input[type=button] {
            background: #6d8ccc;
            color: white;
            border: 1px solid #808080;
        }

            #header-content #right table tr td input[type=button]:hover {
                background: #3b5998;
            }

#main-content #left {
    width: 600px;
    padding-top: 40px;
    float: left;
}

    #main-content #left img {
        width: 500px;
        height: 250px;
        padding: 0px;
    }

#main-content #right {
    float: left;
    width: 500px;
    padding-top: 30px;
}

    #main-content #right input[type=text] {
        width: 180px;
        height: 15px;
        padding: 10px;
        border: 1px solid #808080;
        border-radius: 6px;
        margin: 6px;
    }

    #main-content #right input[type=date] {
        width: 180px;
        height: 15px;
        padding: 10px;
        border: 1px solid #808080;
        border-radius: 6px;
        margin: 6px;
    }

    #main-content #right p a {
        text-decoration: none;
    }

        #main-content #right p a:hover {
            text-decoration: underline;
        }

    #main-content #right input[type=button] {
        width: 200px;
        margin-top: 20px;
        padding: 7px;
        background: #63a450;
        font-size: 20px;
        color: white;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 5px;
    }
